.actualContent {
	text-align: center;
}
html, body{
	border:0;
	padding:0;
	margin:0;
}
div.contentPane{
	min-width:400px;
	width:48%;
	height:50%;
	overflow-x:hidden;
	overflow-y:auto;
	display: inline-block;
}
div.contentPane div.innerContainer{
	height:100%;
	width:100%;
}
div.contentPane div.innerContainer div.marginMaker{
	position:relative;
	top: 5%;
	height:70%;
	max-height:70%;
	margin:auto;
	width:90%;
	background-color:#DDD;
	overflow-Y:auto;
}
div.contentPane div.innerContainer div.marginMaker>*{
	display:inline-block;
	padding:2%;
	margin:0;
}
div.contentPane div.innerContainer div.buildingsTable{
	position:relative;
	top:5%;
	height:20%;
	max-height:20%;
	margin:auto;
	width:90%;
	background-color:#DDD;
	overflow-Y:auto;
}
div.buildingsTable table{
	margin:auto;
	text-align:center;
}
div.buildingsTable table tr td a{
	padding:0 0.6em;
	text-decoration:none;
}