html, body{
	margin:0;
	border:0;
	padding:0;
}
@media only screen and (max-width: 416px) {
	div.galleryImages{
		width:0 !important;
		display:none !important;
	}
	div.mapImage{
		width:100%;
	}
}
div.buildingImages, div.top, div.bottom{
	width:100%;
	height:50%;
	overflow:hidden;
}
.mapImage{
	width:50%;
	height:100%;
	float:left;
}
div.galleryBox{
	width:50%;
	float:left;
}
div.top>div.divBorders{
	width:97%;
	top:2%;
}
.divBorderOuter{
	width:98%;
	margin:auto;
	height:98%;
	position:relative;
	top:2%;
}
div.top{
	clear:right;
}
div.bottomLeft, div.bottomRight{
	float:left;
	width:50%;
}
.descriptionArea{
	max-height:100%;
	min-height:50%;
}
.descriptionArea div.divBorders{
	min-height:30%;
	height:auto;
	width:99%;
	overflow-y:auto;
}
.descriptionArea>div.divBorders>*{
	max-width:96%;
	margin: 0 auto;
	padding-top:1em;
}
.descriptionArea>div.divBorders>p{
	padding-left:2em;
}
.divBorders{
	width:98%;
	margin:auto;
	height:98%;
	position:relative;
	top:1%;
	background-color:rgba(0,0,189,0.3);
}