html, body{
	border:0;
	padding:0;
	margin:0;
}
div.contentPane{
	width:50%;
	height:50%;
	overflow-x:hidden;
	overflow-y:auto;
	float:left;
}
.ContentPane div.innerContainer{
	background-color:blue;
	height:100%;
	width:100%;
}
.marginMaker{
	position:relative;
	top: 5%;
	height:90%;
	margin:auto auto;
	width:90%;
	background-color:white;
}