#submittedBox{
	display: inline-block;
	width: 98%;
	height: 90%;
	margin-bottom: 1%;
	margin-left: 1%;
	margin-right: 1%;
	overflow: auto;
}
#submittedBox p{
	padding: 1%;
	margin: 0.05%;
	background-color: white;
}
#commentsForm{
	height: 100%;
}
.submitWrapper{
	display: block;
	height: 10%;
	width: 800px;
	margin: auto;
	background-color: #e6e6fa;
	margin-bottom: 1%;
}
.formWrapper{
	display: block;
	height: 10%;
	width: 800px;
	margin: auto;
	background-color: #e6e6fa;
}
.textSection{
	display: inline-block;
	height: 70%;
	width: 85.5%;
	float: left;
	margin-top: 0.5%;
	margin-bottom: 1%; 
	margin-left: 1%;
	padding: 0.5%;
}
.submitButton{
	display: inline-block;
	height: 80%;
	width: 10%;
	margin-top: 0.75%;
	margin-bottom: 1%;
	margin-right: 1%;
	margin-left: 1%;
}