/*wraps everything*/
#wrapper {
	position:relative;
	height: auto;
}

/*header and left+right column wrapper*/
.content {
	margin: auto;
	width:90%;
	height: auto;
	/*background-color: #E6EDFF;*/
	text-align:center;
	overflow: auto; /*no more footer floating*/
}

/*header shenanigans*/
.header{
	height: 150px;
	width: 100%;
	overflow:hidden;
	background-color:#354779;
}

/* sets size,position and color for the schoolname */
#schoolname {
	color: white;
	font-size: 50px;
	float: left;
	margin: 50px;
	position: absolute;
}

/* specifies positioin of banner. */
#headbanner{
	float: right;	
}

/* configures height of the banner. */
#headbanner img{
	height: 100%;
}

/*LEFT COLUMN STUFF*/
.leftcol{
	width: 49%;
	display: inline-block;
	vertical-align: top;
	padding-top: 5%;
}

/* configures the size of the logo. */
.sitelogo img{
	width: 50%;
	overflow: hidden;
}

/*confugures the text position and size. */
.servicedesc p{
	text-align: justify;
	width: 75%;
	margin: auto;
	font-size: 0.75em;
}

/*size for the heading. */
.servicedesc h2{
	font-size: 1.5em;
}

/*RIGHT COLUMN*/
.rightcol{
	width: 49%;
	display: inline-block;
	vertical-align: top;
}

/** configures the size of the input spaces. */
.registration input{
	width:100%;
}

/**configures position of the table - prompt */
.registration td{
	vertical-align:bottom;
	text-align:left;
}

/* sets up columns */
.registration th{
	width: 25%;
}

/*Paddin for table*/
.registration table{
	margin: 5% 0 5% 0; 
}

/* sets position for the form */
.regform{
	margin: auto;
	width: 90%;
	text-align:left;
	font-size:0.75em;
}

/* configures properties for the disclaimer header */
.disclaimtext h2{
	font-size: 1.25em;
	font-weight:bold;
}

/* configures required red star */
.required::after{
	content: "*";
	color: red;
}

/*footer things*/
footer{
	background-color:#354779;
	bottom:0;
	padding: 2%;
}

/* sets the font color to white */
.footer_wrapper{
	color: white;
}

/* configures position of the table */
.footer_table{
	text-align:center;
	width:100%;
}

/* enforces font color and overall width */
table.table_outer{
	width: 100%;
	color: white;
}

/* more width stuff */
table.table_outer th{
	width: 19%;
}

/* sets column border and color */
table.table_col{
	color: white;
	width: 100%;
	border-width: 0 1px 0 1px;
	border-style: solid;
}

/* sets up the links */
table.table_col td{
	color: white;
	text-align:center;
	font-size: .75em;
}

/* visited links configuration */
table.table_col a, a:visited{
	color: white;
	width: 100%;
	text-align:center;
	text-decoration: none;
}

