html, header, nav, main, footer {
	display: block;
	}

nav, header {
	font-family: sans-serif, Verdana, arial;
}

body {
	width: 100%;
}

.Wrapper{
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}

html {
	margin:0;
	padding: 0;
	width: 100%;
}

#Name {
	float:left;
	padding-left: 3%;
}

.Navigation {
	width: 100%;
}
	
nav { 
	width: 95%;
	height: 60px;
	color: white;
}

nav h1{
	font-weight: normal;
}

nav ul {
	list-style-type: none;
	width:100%;
	white-space: nowrap;
	margin-right:0;
}

.list_nav {
	margin:0;
}

nav li {
		white-space: nowrap;
		display: inline-block;
		padding-left: 4%;
		padding-top: 30px;
		font-size: .90em;
		float:right;
		white-space: nowrap;
}

ul.nav li.homethng{
	padding-right: 0;
}

#Banner{
	background-image: url(panorama.jpg);
	background-size: cover;
	height: 200px;
	width:100%;
	}


body {
	background-image: url(background7.jpg);
	padding:0;
	margin: 0;
}

.user_main {
	font-family: sans-serif, Candola, Colibri;
	display: inline-block;
	width: 100%;
	background-color: #354779;
	color: #E2E3E7;
	margin-bottom: 50px;
}	

main {
	padding:0;
	margin-right: 0;
}

main h3{
	padding-left: 2%;
	font-weight: normal;
	float:left;
	font-size: .7em;
	
}

main li {
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
	padding-right: 2%;
	font-size: .7em;
	float:right;
}

#box_main {
	width: 75%;
	margin: auto;
	height: auto;
	background-color: #E2E3E7;
	margin-bottom: 80px;
	padding-bottom: 30px;
}