*:not(img){
	padding:0;
	margin:0;
}
::-webkit-scrollbar { 
    display: none; 
}
html, body{
	background-color:#005;
	height:100%;
	width:100%;
}
.Wrapper{
	background-color:white;
	height: 100%;
	overflow-y:auto;
}
.Wrapper, .Footer_Area{
	margin:auto;
	width:800px;
}
.Head_Area{
	height:20%;
}
#Banner{
	height: 50%
}
#Banner div.BannerPadding{
	height: 100%;
	font-size: 32pt;
}
.BannerPadding header{
	padding-top: 2%;
}
.BannerPadding span{
	padding-left:1em;
}
ul{
	border-top:4px solid white;
}
#Navigation{
	height: 50%;
}
.original_navigation{
	width:100%;
	display:inline-block;
	background-color:black;
}
ul li{
	transition:all 0.7s ease;
	background-color:rgba(0,0,0,0);
	position:relative;
	display:block;
	float:left;
	list-style:none;
	border-bottom:5px solid black;
}
ul li:not(.lastItem){
	border-right:2px solid white;
	padding-right:1px;
}
ul li a{
	transition:all 0.5s ease;
	color:white;
	padding: 1em;
	margin:auto;
	background-color:rgba(0,0,0,0.3);
	border-bottom:3px solid black;
	font-weight:bold;
	display:block;
	font-size:16pt;
	text-decoration:none;
}
.HighestLevelMenu li:hover{
	background-color:rgba(255,255,255,0.6);
}
li:hover a.level1{
	border-color:white;
}
.HighestLevelMenu li:hover ul.BuildingSub{
	visibility:visible;
	top:105%;
	opacity:1;
	z-index:1;
	transition-delay: 0s;
}
.LoginButton{
	padding-left:1px;
	float:right;
	border-left:2px solid white;
}
.LoginButton span{
	padding: 0 0.4em;
}
.BuildingSub{
	border-top:none;
	transition:visibility 0s,z-index 0.5s ease,
	opacity 0.5s ease,top 0.5s ease;
	visibility:hidden;
	opacity:0;
	background-color:black;
	width:100%;
	position:absolute;
	top:50%;
	z-index:-1;
}
.BuildingSub li{
	width:98%;
	border-right:3px solid black;
	border-bottom:2px solid white;
	position:relative;
}
.BuildingSub a{
	padding: 0.5em 1em;
	border-right:3px solid black;
	border-bottom:none;
}
.BuildingSub li:hover a.level2{
	border-color:white;
}
.BuildingSub li:hover ul{
	visibility:visible;
	left:101%;
	opacity:1;
	z-index:1;
}
.QuadrantSub{
	transition:opacity 0.3s ease,left 0.3s ease,
	z-index 0s,visibility 0s;
	visibility:hidden;
	opacity:0;
	width:100%;
	height:260%;
	overflow-x:hidden;
	overflow-y:scroll;
	background-color:black;
	position:absolute;
	top:0;
	left:80%;
	z-index:-1;
}
.NW{
	height:245%;
}
.QuadrantSub a.level3{
	padding: 0 1em;
}
.Body_Area{
	display: block;
	height: 70%;
	background-color: pink;
}
/*footer things*/
footer{
	background-color:#354779;
	position: absolute;
	width: 96%;
	bottom:0;
	padding: 2%;
}

.footer_wrapper{
	color: white;
}

.footer_table{
	text-align:center;
	width:100%;
}

table.table_outer{
	width: 100%;
	color: white;
}

table.table_outer th{
	width: 19%;
}

table.table_col{
	color: white;
	width: 100%;
	border-width: 0 1px 0 1px;
	border-style: solid;
}

table.table_col td{
	color: white;
	text-align:center;
	font-size: .75em;
}

table.table_col a, a:visited{
	color: white;
	width: 100%;
	text-align:center;
	text-decoration: none;
}
