header, nav, main, aside, footer {
	display: block;
}

main {
	font-family: Verdana, arial, sans-serif;
	margin: 20px;
=	}

.page_title {
	padding-top: 20px;
	font-weight: normal;
}

.contact_desc{
	font-size: .95em;
	padding-top: 15px;
}

.contact_prompt {
	padding-top: 10px;
	font-weight: bold;
	float: left;
	font-size: .80em;
	width: 30%;
}

.contact_answer {
	font-size: small;
	padding: 10px 10px;
	float: right;
	width: 60%;
	}

.contact_table {
	padding-top: 15px;
}