header, nav, main, aside, footer {
	display: block;
}

#banner {
	height: 90px;
	width: 75%;
	background-color: pink;
	padding: 10px;
	float: left;
	}

header {
	font-family: Verdana, Arial, sans-serif;
	margin: 20px;
	}
	
header h1 {
	font-family: Verdana, Arial, sans-serif;
	font-weight: normal;
	height: 50%;
	}

aside {
	float: right;
	background-color: gray;
	height: 90px;
	width: 22%;
	padding: 10px 0 10px;
	}

aside ul{
	list-style-type: none;
	padding: 20px, 40px;
	}

main {
	font-family: Verdana, arial, sans-serif;
	margin: 20px;
	}
	
nav{
	float: left;
	height: 100%;
	width: 13%;
	background-color: orange;
	padding-bottom: 50%;
	}
	
nav ul{
	list-style-type: none;
	}

h2 {
	padding: 150px 40px 20px 200px;
	background-color: #67B7F4;
}

.paragraph {
	padding: 0 40px 20px 200px;
	background-color: #94FFFF;
}

dl {
	background-color: #79CC70;
	padding-left: 200px;
}

dt {
	background-color: #D46A6A;
	padding-bottom: 0;
	padding-top: 10px;
	font-weight: bold;
}

dd {
	background-color: #8A70F5;
	font-size: small;
	padding: 10px 10px;
	}

.comments {
	background-color: #6F8CF5;
	width: 58%;
	margin: auto;
	padding-bottom: 20px;
	padding-left: 40px;

}
	
#bottom{
	background-color: #FA5FA8;
	width: 100%;
	}