/* sets width 	for the form */
#contact_us input{
	width:100%;
}

/* left and bottom aligns the prompts. */
#contact_us td{
	vertical-align:bottom;
	text-align:left;
}

/* used to make 4 columns */
#contact_us th{
	width: 25%;
}

#conus li {
	background-color: #263458;
}

/*Paddin for table*/
#contact_us table{
	margin: 5% 0 5% 0; 
	margin: auto;
	width: 100%;
	text-align:left;
}

/* sets parameters for the required fields */
.required::after{
	content: "*";
	color: red;
}

/* inserts a text area for audience to type feedback */
#contact_us textarea{
	width:99.5%;
}

#leftColumn{
	display: block;
	width: 48%;
}

#rightColumn{
	display: block;
	width: 48%;
	margin-left: 10px;
	position: absolute;
	right: 0;
	top: 1.3em;
}

.secondBody{
	position: relative;
}

#map{
	background-color: red;
}