html, body {
	margin:0;
	padding:0;
	border:0;
	height:100%;
	width:100%;
}
.Wrapper{
	height:100%;
	width:100%;
	background-color:blue;
}
.innerContainer{
	text-align:center;
	height:98%;
	width:95%;
	margin:auto;
	background-color:red;
}
.BannerArea{
	height:15%;
}
.ImageArea{
	float:left;
	position:relative;
	top:10%;
	left:1%;
	height:80%;
	width:400px;
}
.imageContainer{
	background-color:white;
	height:100%;
	width:100%;
}
.Login{
	background-color:white;
	position:relative;
	top:10%;
	right:1%;
	float:right;
	height:100px;
	width:100px;
}
#Navigation{
	height:85%;
	width:10%;
	float:left;
}
nav{
	margin-left:3px;
	display:inline-block;
	background-color:gray;
	color:white;
	margin-right:5px;
	height:100%;
	
}
nav ul{
	padding:0;
	margin:0;
	list-style-type:none;
	position:relative;
	background-color:black;
	border-right: 5px solid black;
}
nav ul li{
	list-style:none;
	border-bottom:2px solid white;
}
.navigationChild{
	transition: border-right-color 1s ease;
	display:block;
	padding: 1em 1.5em;
	border-right: 5px solid black;
}
.navigationLast{
	border-bottom-style:none;
}
nav ul li a{
	width:100%;
	border-right:5px solid black;
	display:block;
	text-decoration:none;
	color:inherit;
	font-weight:bold;
	font-size:1.2em;
}
nav ul li a:hover  .navigationChild{
	border-right-color:white;
}
#buildingsMenuTab:hover #buildingsSubMenu {
	visibility:visible;
	opacity:1;
	left:103%;
	transition-delay:0s;
}
#buildingsSubMenu {
	transition: all 0.3s ease 0s;
	opacity:0;
	visibility:hidden;
	width:75%;
	position:absolute;
	color:black;
	left:99%;
	z-index:1;
}
#buildingsSubMenu>ul>li:not(.navigationLast) {
	border-bottom:2px solid black;
}
.buildingChild>a{
	text-align:left;
	transition: background-color 1s ease;
	background-color:#777;
	padding:0.7em 0;
	border:none;
}
.buildingChild>*>span{
	padding-left:1em;
}
.buildingChild>a:hover {
	background-color:#AAA;
}
.ContentPane{
	float:right;
	height:85%;
	width:90%;
	background-color:purple;
}
#AreaInformation{
	width:100%;
	height:60%;
	background-color:green;
}
.images{
	height:50%;
	width:100%;
}
.areaImage{
	width:50%;
	background-color:rgba(255,255,255,0.3);
	height:100%;
	float:left;
}
.buildingImage{
	width:50%;
	background-color:rgba(0,0,0,0.3);
	height:100%;
	float:right;
}
.descriptions{
	height:50%;
	margin:auto;
	padding:0 1em;
	width:90%;
	background-color:rgba(255,0,0,0.3);
	text-align:left;
}
#CommentArea{
	position:relative;
	width:100%;
	height:40%;
	background-color:cyan;
}
#CommentSubmission{
	width:100%;
	position:absolute;
	left:5px;
	bottom:1em;
}
#textSubmission{
	width:90%;
}