
html, body {
	/*darkblue*/
	background-color: #0D1A3E;
	height: 100%;
}

#userimage img{
	width: 50%;
	height: auto;
}
#pullpagebannerdiscalimer{
	text-align:center;

}

#Wrapper {
	min-height:100%;
	position:relative;
}

#footer {
	position: absolute;
	width: 100%;
	bottom: 0;
	background-color: #7888B5;
	text-align:center;
	padding: 50px 0 50px 0;
	color: white;
}

#footer a{
	color:white;
}
.content {
	padding: 5% 0 5% 0;
	margin: auto;
	width:60%;
	height: 100%;
	background-color: #E6EDFF;
}

.header{
	height: 150px;
	width: 100%;
	overflow:hidden;
	background-color:#354779;
}

.disclaimer{
	margin: 0 5% 0 5%;
}

#schoolname {
	color: white;
	font-size: 50px;
	float: left;
	margin: 50px;
	position: absolute;
}


#headbanner{
	float: right;
}
#headbanner img{
	height: 100%;
}

.required::after{
	content: "*";
	color: red;
}


