html{
	height: 100%;
}
body{
	font-family: Verdana, Arial, sans-serif;
	background-color: #354779;
	height: 100%;
}
header{
	width: 100%;
}
#banner{
	display: inline-block;
	padding-left: 1%;
	margin-right: 1%;
	padding-top: 1%;
	width: 83%;
	background-color: #e6edff;
	height: 100px;
}
#userinfo{
	display: inline-block;
	background-color: #e6edff;
	width: 14%;
	padding-top: 1%;
	padding-left: 1%;
	height: 100px;
	float: right;	
}
#userinfo ul{
	padding: 0;
}
#userinfo ul li{
	padding: 1%;
	font-family: Impact;
}
#container{
	height: 100%;
	margin-top: 1%;
}
#navbar{
	display: block;
	width: 100%;
	background-color: #7888b5;
	margin-bottom: 1%;
}
#navbar ul{
	display: inline-block;
	width: 100%;
	text-align: center;
}
#navbar ul li{
	display: inline;
	text-align: center;
	background-color: #0d1a3e;
	color: white;
	margin-left: 1%;
	padding: 1%;
}
/*added shit here*/
#navbar a{
	color: white;
}

/*end added shit*/
#maincontent{
	display: inline-block;
	width: 100%;
	height: 100%;
}
#maincontent h3{
	color: white;
	padding-left: 1%;
	margin-top: 1%;
}
#map{
	padding-bottom: 1%;
}
#picture{

}
#description{
	height: auto;
	background-color: white;
	padding: 1%;
	overflow: auto;
	font-size: small;
}
#comments{
	height: 30%;
	margin-top: 1%;
	margin-bottom: 1%;
}
#comments h3{
	color: white;
	padding-left: 1%;
}
#discussion{
	height: 100px;
	background-color: white;
	margin-bottom: 1%;
	padding: 1%;
	overflow: auto;
	font-size: small;
}
#commentbox{
	height: 26%;
}
#textbox{
	width: 89%;
	margin-right: 0;
	padding-right: 0;
	height: 50px;
	border-radius: 15px;
	overflow: auto;
	font-size: small;
}
#submitbutton{
	width: 9%;
	margin-left: 1%;
	height: 50px;
	border-radius: 15px;
}
.noMargin{
	margin: 0;
}
.noUnderline{
	text-decoration: none;
}
.noBullets{
	list-style: none;
}
.noPadding{
	padding: 0;
}
.roundCorner{
	border-radius: 15px;
}
.scaleWidth{
	width: 100%;
	height: 100%;
}
.wrapper{
	width: 800px;
	margin: auto;
}

/*why the hell*/
.dropDown{
	visibility: hidden;
	z-index: 1;
}
.links li:hover .dropDown{
	visibility: visible;
}